/.vscode
/Ansible
/Ansible.txt
/Azure.txt
/AzureVMAccrossTheSubscription.ps1
/bigquery.txt
/comparision.ps1
/Docker.txt
/dummyps.ps1
/etluserreport
/Expenses.txt
/Final_LS-SSIS-SharedPathValidationV1.ps1
/GetMembersAndGroups.ps1
/git.txt
/Indexes_10Jun2024.sql
/Interview.txt
/Jenkins
/kubectl.txt
/LS-SSIS-SharedPathValidation.ps1
/LS-SSIS-Validation_V0.ps1
/Mongo.txt
/mydata.txt
/new.jenkinsfile
/NewIndexes_Timeout.sql
/openaikey.py
/PowerShell
/PowerShell.txt
/Reports
/ServerInfo.txt
/SSIS_Upgrade
/T-SQLCode.txt